In [5]:
name = "jatlfjkaldksfjlksdajflksdajfl;asjdflksjad;lfjsaldkfjsdlak;fjadls;fjasdl;kfjin"
last_name = "katyal"
print(hash(name))
print(hash(last_name))

-4480965813666480970
-5939444967293001199

In [6]:
d = {}
d[0] = "JS"
d[1] = "Python"
d[1.0] = "Java"
d[0] = "GO"

In [7]:
d

{0: 'GO', 1: 'Java'}

In [8]:
1 is 1.0

False

In [9]:
hash(1) == hash(1.0)

True

In [16]:
def show():
    print("show")
    return False

In [19]:
def func():
    try:
#         raise 1/0
        return True
    except:
        print("You idiot")
        return show()
    finally:
        print("Finally executed")
        return 1

In [20]:
func()

Finally executed

1

In [11]:
try:
    raise 1/0
except:
    print("You idiot !")
finally:
    print("Done")

You idiot !
Done

In [29]:
class Person:
    def __init__ (self):
        print("I")
    def __del__ (self):
        print("D")

In [30]:
p1 = Person()
p2 = Person()

p1 is p2

I
I

False

In [31]:
Person() is Person()

I
I
D
D

False

In [43]:
a, b = 257, 257
a is b

True

In [46]:
def f(p):
    print(id(p))

In [47]:
f(Person()), f(Person())

I
4474387872
D
I
4474387872
D

(None, None)

In [38]:
def f2(p):
    return p

In [39]:
f2(Person()) is f2(Person())

I
I
D
D

False

In [48]:
class A:
    x = 2
class B(A):
    pass
class C(A):
    pass

In [49]:
print((A.x, B.x, C.x))

(2, 2, 2)

In [50]:
B.x = 5

In [51]:
print((A.x, B.x, C.x))

(2, 5, 2)

In [52]:
A.x = 9

In [53]:
print((A.x, B.x, C.x))

(9, 5, 9)

In [54]:
c = C()
print(c.x)

9

In [55]:
c.x = 10

In [56]:
print((A.x, B.x, C.x))

(9, 5, 9)

In [57]:
a = ([1, 2], [3, 4], [5, 6])

In [58]:
a[0][0] = 9

In [59]:
a

([9, 2], [3, 4], [5, 6])

In [60]:
a[0] = "jatin"

TypeError: 'tuple' object does not support item assignment

In [61]:
b = [1, 2, 3]

In [62]:
b += [4, 5]

In [63]:
b

[1, 2, 3, 4, 5]

In [64]:
a

([9, 2], [3, 4], [5, 6])

In [65]:
a[2] += [8, 9]

TypeError: 'tuple' object does not support item assignment

In [66]:
a

([9, 2], [3, 4], [5, 6, 8, 9])

In [71]:
class A:
    def __getitem__ (self, *a):
        return a

In [72]:
a = A()
a[1:2]

(slice(1, 2, None),)

In [82]:
def func(*args, **kwargs):
    print(args)
    print(kwargs)

In [84]:
func(1, 2, 3, 4, 45, name = "jatin", last_name = "katyal")

(1, 2, 3, 4, 45)
{'name': 'jatin', 'last_name': 'katyal'}