# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

In [6]:
a = "jatin"
print(type(a))

<class 'str'>

In [11]:
format_string = "%d is not equal to %d"

print(format_string % (10, 15))

10 is not equal to 15

In [13]:
new_format = "my name is {} and i am not a {}"

print( new_format.format("jatin", 1.4) )

my name is jatin and i am not a 1.4

In [15]:
s = "12, 12, 12"
for x in s.split(','):
    print(x)

12
 12
 12

In [17]:
s.replace('12', ';')

';, ;, ;'

In [18]:
s.count('12')

3

In [19]:
s = 'a quick brown fox jumps over the lazy little dog'
print(s.count('a'))

2

In [20]:
s.capitalize?

In [21]:
def func():
    '''this is a docstring'''
    
    return 1+2

In [23]:
func.__doc__

'this is a docstring'

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [24]:
a = list()
b = []

In [25]:
a = [1, 2, 3, 4, 5]

print(a)

[1, 2, 3, 4, 5]

### Basic operations
![](images/list_oper.png)

In [26]:
print(len(a))

5

In [27]:
b = [6, 7, 8, 9]

a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
a*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [30]:
4 in a

True

In [31]:
9 in a

False

In [32]:
for x in a:
    print(x)

1
2
3
4
5

In [38]:
b, b, b, b, b  = a

print(b)

5

### Indexing and list slicing

![](images/indexing.png)

In [39]:
print(a)

[1, 2, 3, 4, 5]

In [42]:
a[-1]

5

In [43]:
name = "jatin"

name[-1]

'n'

## Slicing

In [51]:
a[4:0:-1]

[5, 4, 3, 2]

In [53]:
name = "aabbaa"

print(name[::-1] == name)

True

### Updating the list

- insert

- append

In [55]:
a.insert(0, 4)

In [56]:
print(a)

[4, 1, 2, 3, 4, 5]

In [57]:
a.append(6)

In [71]:
a = [1, 2, 3, 4]

In [72]:
id(a)

4432067784

In [75]:
print(id(a))

print( a[0] is a[1] )

a[0] = 2

print( a[0] is a[1] )

4432067784
False
True

In [67]:
print(id(a))
print(id(a[0]))
a[0] = 2
print(id(a))
print(id(a[0]))
print(id(a[1]))

4431431048
4394186848
4431431048
4394186848
4394186848

In [68]:
a

[2, 2, 3, 4]

In [63]:
print(id(a))
print(id(a[:]))

4431341448
4432030216

In [69]:
for x in a[:]:
    a.insert(0, 1)

In [70]:
a

[1, 1, 1, 1, 2, 2, 3, 4]

### Deleting list elements

- del
- pop
- remove

In [76]:
a = str(1)

In [77]:
a

'1'

In [78]:
str = "jatin"

In [79]:
a = str(1)

TypeError: 'str' object is not callable

In [80]:
del str

a = str(1)

In [88]:
a = [1, 2, 3, 4]

In [85]:
# del a[1]

a.pop(1)

2

In [89]:
a.remove(2)

In [90]:
a

[1, 3, 4]

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [93]:
a = [4, 2, 6, 1, 8 , 5]

In [95]:
sorted(a) is a

False

In [92]:
a.sort()

In [96]:
a.reverse()

In [97]:
a

[5, 8, 1, 6, 2, 4]

In [100]:
reversed(a)

### map, strip and split function (just some utilities when you input a list)

In [9]:
def add_1(a):
    print("something")
    return a+1

In [10]:
a = [1, 2, 3, 4]

In [11]:
map(add_1, a)

In [12]:
for x in map(add_1, a):
    print(x)

something
2
something
3
something
4
something
5

In [13]:
name = "       jatin       "
print(name)
print(name.strip())

       jatin
jatin

In [16]:
print("\n".join([ "  ".join([ str(x*y) for y in range(1, 11) ]) for x in range(1, 11)  ]))

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

### Printing a list using join

In [102]:
a = ["jatin", "pranav", "pratulya", "aditya"]

','.join(a)

'jatin,pranav,pratulya,aditya'

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [103]:
a = (1, 2, 3, 4)

print(type(a))

print(a)

<class 'tuple'>
(1, 2, 3, 4)

In [104]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

In [105]:
a + a

(1, 2, 3, 4, 1, 2, 3, 4)

### List to tuple and tuple to list...

In [106]:
a = [1, 2, 3, 4]
a = tuple(a)
a = list(a)
a = tuple(a)
a = list(a)

### Returning multiple values from functions (The returned thing is a tuple!)

In [108]:
def func(a, b):
    return a+5, b+5

c, d = func(6, 7)
print(c)
print(d)

11
12

### But...but I like Lists...

![](images/immutable.jpg)

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

**is operator**

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

In [111]:
a = dict()
a = {
    "name": "jatin",
    "last_name": "katyal"
}

In [112]:
print(a)

{'name': 'jatin', 'last_name': 'katyal'}

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [117]:
for key, value in a.items():
    print(key, ":", value)

name : jatin
last_name : katyal

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

## Comprehensions

In [129]:
a = []
for x in range(1, 11):
    b = []
    for y in range(1, 11):
        b.append(x*y)
    a.append(b)

In [130]:
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [131]:
a = [ [ x*y for y in range(1, 11) ] for x in range(1, 11) ]

In [132]:
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [133]:
n = 5
a = [ [ n - min(i, j, n - 1 - i, n - 1 - j) for j in range(n) ] for i in range(n) ]
print(a)

[[5, 5, 5, 5, 5], [5, 4, 4, 4, 5], [5, 4, 3, 4, 5], [5, 4, 4, 4, 5], [5, 5, 5, 5, 5]]

In [134]:
import pprint

pprint.pprint(a)

[[5, 5, 5, 5, 5],
 [5, 4, 4, 4, 5],
 [5, 4, 3, 4, 5],
 [5, 4, 4, 4, 5],
 [5, 5, 5, 5, 5]]

In [127]:
a = [x*y for x in range(10) for y in range(10) if x == y]

In [128]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [135]:
a = { x+1: x for x in range(n) }

In [136]:
a

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [143]:
a = set([1, 2, 3, 4])
b = set([2, 3, 5, 6])

3 in a

True

In [17]:
row = ['']*3
board = [row]*3

In [18]:
board

[['', '', ''], ['', '', ''], ['', '', '']]

In [19]:
board[0][0] = 'X'

In [20]:
board

[['X', '', ''], ['X', '', ''], ['X', '', '']]

In [22]:
board[0] is board[2]

True

In [25]:
a = 256
b = 256

print(a is b)

True

args, kwargs and call by object

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)